body {
    color: rgb(214, 213, 213);
    .home-container {
        .content {
            margin-top: 40px;
            border-top: 1px solid white;
            text-align: center;
        }
    }
}