
.plans-container {
    .content {
        .plan {
            display: flex;
            .col {
                margin-top: 20px;
                margin-left: 100px;
            }
        }
    }
}
